@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}


.App {
  text-align: center;
}
*::-webkit-scrollbar {
  display: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ======= HEADNAV =======  */ 
.wrapper-headNav h1 {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-transform: capitalize;
  margin-left: -8px;
}
.wrapper-headNav .upperCase {
  text-transform: uppercase;
}

.wrapper-headNav h2 {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  background-color: #202124d3;
  padding-bottom: 10px;
  border-bottom: 1px solid #282c34;
  /* filter: blur(5px); */
  backdrop-filter: blur(500px);
  text-align: center;
  color: white;
  font-size: 20px;
}
.wrapper-headNav .grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
}
.wrapper-headNav button {
  border: none;
  font-size: 30px;
  background-color: transparent;
  height: fit-content;
  color: #65D1B5;
}



/* ======= NAVBAR =======  */
.wrapper-navbar{
  position: fixed;
  left: 0; bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #282c34;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}  

.wrapper-navbar button {
  background-color: transparent;
  border: none;
  display: block;
  color: lightgrey;
  font-weight: bold;
}
/* .wrapper-navbar button:hover {
  color: #65D1B5;
} */

.wrapper-navbar .selected {
  color: #65D1B5;
}
.navIcon {
  margin-top: -15px;
  margin-bottom: 3px;
  display: block;
  font-size: 22px;
}


.wrapper-navbar .truckIcon {
  color: #0e1013;
  background-color: #65D1B5;
  position: relative;
  width: 80px;
  height: 80px;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  border-radius: 50%;
  box-shadow: #65D1B5 0px 0px 10px !important;
}
.wrapper-navbar .truckLogo {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: -5px;
}


/* LOGIN PAGE  */

.wrapper-login {
  background-color: #282c34;
  height: 100vh;
  width: 100%;
}

.wrapper-login .content {
  /* border: 1px solid red; */
  /* width: fit-content; */
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}
.wrapper-login img {
  display: block;
  margin: auto;
  max-width: 40%;
  filter: invert(100%);
  margin-bottom: 40px;
  animation: logo 1.5s;
  position: relative;
}
.wrapper-login h2 {
  color: white;
  margin: 20px;
}
 .wrapper-login input {
  display: block;
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #65D1B5;
  border-radius: 5px;
  color: lightgray;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  outline: none;
  animation: fade 5s ease-in-out;
 }

 .wrapper-login button {
  width: 300px;
  height: 45px;
  background-color: #65D1B5;
  color: #282c34;
  border: 2px solid transparent;
  border-radius: 5px;
  animation: fade 5s ease-in-out;
}
.wrapper-login button:hover {
  font-weight: bold;
}

@keyframes logo {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0; /* Start with full transparency (invisible) */
  }
  to {
    opacity: 1; /* End with full opacity (visible) */
  }
}

.wrapper-login .remmember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: wheat;
  margin-bottom: 20px;
  position: static;
  animation: fade 3s ease-in-out;
}






/* SAMPLE PAGE */
.wrapper {
  background-color: #202124;
  padding: 0 15px 100px 15px;
  height: 100%;
  min-height: 100vh; 
}

/* SELECTOR */
.selector3 {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  border: 1px solid gray;
  width: 100%;
  margin: auto;
  border-radius:5px;
  color: lightgray;
}
.selector3 #left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.selector3  #center{
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.selector3 #right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.selector3 p{
  font-size: 15px;
  padding: 6px 0;
}

.selector3 .selected {
  background-color: #282c34;
  color: #65D1B5;
}







/*  ========== ORDERS PAGE ========= */
.order {
  width: 100%;
  /* height: 80px; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #282c34;
  transition: 0.3s;
}
.order:hover {
  border: 1px solid #65D1B5;
  padding-left: 20px;
}

.orders {
  color: lightgray;
}
.orders .notice {
  color: gray;
  margin-top: 50%;
  font-size: 20px;
}
.orders .date-day {
  font-size: 25px;
}
.orders .date-month {
  font-size: 10px;
  font-weight: bold;
  color: #65D1B5;
}
.orders .date-year {
  font-size: 10px;
}
.orders #left {
  text-align: left;
  width: 100%;
}
.orders #right {
  display: flex;
  gap: 25px;
  width: 90px;
  margin-right: 15px;
}
.orders #done {
  display: block;
  width: 50px;
}
.doneIcon {
  font-size: 25px;
  color: #65D1B5;
}

.orders .timingIndicator {
  text-align: left;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 15px;
  color: lightgray;
}

/* =========  ORDER  ==========  */
.wrapper-order {
  background-color: #202124;
  padding: 0 15px 100px 15px;
  height: 100%;
  min-height: 100vh; 
}
.wrapper-order .row p {
  text-align: right;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #282c34;
  transition: 0.3s;
  color: lightgray;
}
.row:hover {
  border: 1px solid #65D1B5;
  padding-left: 20px;
}
h3 {
  color: white;
  text-align: left;
  margin-top: -20px;
  margin-bottom: 20px;
}
h5 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: lightgray;
  text-align: left;
}

.btnCompleted {
  display: block;
  width: 100%;
  background-color: #65D1B5;
  color: #0e1013;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
}

.completed {
  margin-top: 30px;
}
.completed p{
  color: lightgray;
  margin-bottom: 10px;
}
.completedIcon {
  color: #65D1B5;
  font-size: 40px;
}

.badges {
  display: flex;
  gap: 5px;
}
.badge-completed {
  background-color: #65D1B5;
  width: fit-content;
  padding: 5px 14px;
  border-radius: 5px;
  margin-bottom: 15px;
}


/* ========= TRUCKS PAGE ======= */
.trucks {
  width: 100%;
  /* height: 80px; */
  display: grid;
  grid-template-columns: 80px auto 20px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #282c34;
  transition: 0.3s;
  color: lightgray;
}
.trucks #company{
  text-align: left;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.trucks #jobsite, .trucks #time{
  font-size: 15px;
  text-align: left;
}
.trucks .date-day {
  font-size: 25px;
  text-align: center;

}
.trucks .date-month {
  font-size: 10px;
  font-weight: bold;
  color: #65D1B5;
  text-align: center;
}
.trucks .date-year {
  font-size: 10px;
  text-align: center;
}
.trucks .timeAndStatus {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  margin-top: 3px;
}
.trucks #return {
  height: 18px;
  width: 70px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  background-color: coral;
  color: white;
}
.trucks #shipping {
  height: 18px;
  width: 70px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #65D1B5;
  color: #0e1013
}

.trucks:hover {
  border: 1px solid #65D1B5;
  /* padding-left: 10px; */
}

.trucks .shippingBullet {
  font-size: 20px;
  margin-right: 5px;
  color: #65D1B5;
}
.trucks .returnBullet {
  font-size: 20px;
  margin-right: 5px;
  color: coral;
}

.imgFrame {
  border: none;
  width: 100%;
  height: 240px;
  border-radius: 10px;  
  margin-bottom: 10px;
}


.truckImg {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 20px;
}




.sign-pad {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 150px;
  /* background-color: white; */
  border: 1px solid gray;
}
.sign-pad .actions {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.sign-pad .actions button {
  border: none;
  width: 100%;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

.sign-pad #save {
  background-color: #65D1B5;
  color: #0e1013;
}
.sign-pad #cancel {
  background-color: lightgray;
  color: #0e1013;
}

#singBack {
  background-color: white;
}



/* ======== NEW-TRUCK PAGE ======= */
.wrapper-newTruck {
  background-color: #202124;
  padding: 0 15px 100px 15px;
  height: 100%;
  min-height: 100vh; 
}
.wrapper-newTruck .label {
  text-align: left;
  margin-top: -20px;
  margin-bottom: 10px;
  color: gray;
}
.wrapper-newTruck .searchBar{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-newTruck .iconSearch {
  color: #65D1B5;
  font-size: 20px;
  position: relative;
  left: -35px;
  top: -5px;
}
.wrapper-newTruck input{
  display: block;
  min-width: 100%;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background-color: #282c34;
  margin-bottom: 10px;
  color: lightgray;
  text-transform: capitalize;
  outline: none;
}
.wrapper-newTruck .row {
  text-transform: uppercase;
  font-weight: 500;
}


.wrapper-selectJobsite {
  background-color: #202124;
  padding: 0 15px 100px 15px;
  height: 100%;
  min-height: 100vh; 
}
.wrapper-selectJobsite input{
  display: block;
  min-width: 100%;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background-color: #282c34;
  margin-bottom: 10px;
  color: lightgray;
  text-transform: capitalize;
  outline: none;
}
.wrapper-selectJobsite .row {
  text-align: left;
}
.wrapper-selectJobsite .label {
  text-align: left;
  margin-top: -20px;
  margin-bottom: 10px;
  color: gray;
}
.wrapper-selectJobsite .searchBar{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-selectJobsite .iconSearch {
  color: #65D1B5;
  font-size: 20px;
  position: relative;
  left: -35px;
  top: -5px;
}
.wrapper-selectJobsite input[type='file']{
  display: block;
  min-width: 100%;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background-color: #282c34;
  margin-bottom: 10px;
  color: lightgray;
  text-transform: capitalize;
  outline: none;
}


.wrapper-submitJobsite {
  background-color: #202124;
  padding: 0 15px 100px 15px;
  height: 100%;
  min-height: 100vh; 
}
.wrapper-submitJobsite h3 {
  max-width: 80%;
  margin-top: -30px;
  font-size: 22px;
}


.wrapper-submitJobsite .file-container {
  background-color: #282c34;
  height: 60px;
  border-radius: 10px;
  display: flex;
  gap: 15%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  box-shadow: rgb(28, 28, 28) 0px 0px 10px 0px;
}
.wrapper-submitJobsite .iconCamera {
  color: gray;
  font-size: 30px;
}

/* SELECTOR */
.selector2 {
  display: grid;
  grid-template-columns:1fr 1fr;
  border: 1px solid gray;
  width: 100%;
  margin-bottom: 20px;
  border-radius:5px;
  color: lightgray;
}
.selector2 #left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 1px solid gray;
}
.selector2 #right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.selector2 p{
  font-size: 15px;
  padding: 6px 0;
}

.selector2 .selected {
  background-color: #282c34;
  color: #65D1B5;
}

.wrapper-submitJobsite .dateTimes {
  margin-bottom: 20px;
  background-color:#282c34;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgb(28, 28, 28) 0px 0px 10px 0px;
}
.wrapper-submitJobsite .date-time {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  padding: 0 10px;
  align-items: center;
}
.wrapper-submitJobsite #top{
  border-bottom: 1px solid rgb(76, 75, 75);
  padding-bottom: 10px;
}
.wrapper-submitJobsite .date-time p {
  font-size: 20px;
  color: lightgray;
  text-align: left;
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}
.wrapper-submitJobsite .date-time .iconDateTime {
  color: lightgray;
}
.wrapper-submitJobsite .date-time input {
  -webkit-appearance: none;
  font-size: 20px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: lightgray;
  outline: none;
  width: fit-content;
  margin-left: auto;
}

.wrapper-submitJobsite .btn-submit {
  display: block;
  width: 100%;
  height: 35px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #202124;
  border-radius: 5px;
  background-color: #65D1B5;
  margin-top: 15px;
}

.wrapper-submitJobsite .wrapper-loader {
  position: fixed;
  top:0;left: 0;
  width: 100%;
  height: 100%;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 3px solid #0e1013;
  border-radius: 50%;
  border-top: 3px solid #65D1B5;
  margin-bottom: 40px;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.wrapper-loader p {
  color: lightgray;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 300;
}
.wrapper-loader #porcentage {
  position: relative;
  top: -115px;
}
.wrapper-loader button {
  display: block;
  width: 50%;
  height: 40px;
  margin-top: 40px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #65D1B5;
  color: #202124;
  border: none;
  margin-top: 50px;
}
.wrapper-loader .iconCheck {
  font-size: 150px;
  color: #65D1B5;
  margin-bottom: 50px;
  animation: rotate360 1s;
}
.wrapper-loader #success {
  font-size: 40px;
}
@keyframes rotate360 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


/* =======  FORKLIFT ======== */
.forklifts {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
   gap: 10px; /* Adjust the gap between squares as needed */
   justify-content: center;
   align-content: center;
}
.forklifts .row-forklift {
  width: 120px;
  height: 120px;
  border: 1px solid transparent;
  background-color: #282c34;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  color: lightgray;
  margin-bottom: 5px;
}
.forklifts .row-forklift:hover {
  border: 1px solid #65D1B5;
}
.forklifts .iconContainer {
  width: 33px;
  height: 33px;
  /* background-color: salmon; */
  padding: 4px;
  border-radius: 5px;
  margin-left: 0;
  margin-right: auto;
}
.iconForklift {
  width: 100%; 
  height: 100%;
}
.forklifts .row-forklift .name-container{
  display: flex;
  font-size: 15px;
  text-align: left;
  
  min-height: 40px;
  align-items: center;
}
.forklifts .row-forklift #name{
}


.forklifts .row-forklift #date{
  font-size: 12px;
  text-align: left;
  width: 100%;
  white-space: nowrap;
}

.row-rules {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 10px;
  align-items: center;
  background-color: #282c34;
  margin-bottom: 5px;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.5s;
}
.row-rules:hover {
  border-color: #65D1B5;
}

.row-rules p {
  text-align: left;
  color: white;
}
.row-rules .unchecked {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #65D1B5;
  border-radius: 50%;
  margin: auto;
}
.row-rules .checked {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #65D1B5;
  border-radius: 50%;
  margin: auto;
  background-color: #65D1B5;
}
.row-rules .iconCheck {
  color: #282c34;
  font-size: 15px;
}
.wrapper .comment-wrapper {
  background-color: #282c34;
  margin-top: 10px;
  height: 100px;
  border-radius: 10px;
}
.wrapper .comment-wrapper textarea {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding: 10px;
  background-color: transparent;
  outline: none;
  color: white;
  border: none;
  resize: none;
}

#new-forklift #label {
  margin-top: 15px;
  margin-left: 5px;
  text-align: left;
  color: lightgray;
}
#new-forklift .btn-submit {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #65D1B5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #282c34;
}


/* =========  HOURS PAGE  =========  */
.hours {
  height: calc((100vh - 370px));
  overflow-y: scroll;
  margin-bottom: -50px;
}

.hours .row {
  display: grid;
  grid-template-columns: 110px auto auto 35px 35px;
  text-align: center;
}

.hours .row #date {
  text-align: left;
} 
.hours .row:hover {
  padding: 10px;
}

.popup-password {
  background-color: #202124;
  width: 90vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 30px;
}

.popup-password h2 {
  color: white;
  font-size: 30px;
}
.popup-password .form {
  display: block;
  /* border: 1px solid red; */
  margin-top: 20px;
}

.popup-password .form input {
  display: block;
  width: 100%;
  font-size: 17px;
  text-align: center;
  padding: 12px;
  margin-bottom: 15px;
  background-color: #282c34;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  color: lightgray;
}
.popup-password .form button {
  display: block;
  width: 80%;
  height: 40px;
  font-size: 20px;
  margin: 30px auto 5px auto;  
  border: none;
  border-radius: 5px;
  background-color: #65D1B5;


}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);

}

.profile #password {
  border: none;
  text-align: right;
  background-color: transparent;
  color: white;
  font-size: 15px;
  padding: 0;
  letter-spacing: 5px;
  outline: none;
}